<a href="https://colab.research.google.com/github/eunnjji/MultiCampus-EmpAcademy/blob/main/project1/seoul.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
from google.colab import drive
# drive.mount('/gdrive', force_remount=True)
drive.mount('/content/drive/',force_remount=True)

Mounted at /content/drive/

In [2]:
# OS 
!cat /etc/issue.net

Ubuntu 18.04.5 LTS

In [16]:
!ls 'drive/MyDrive/seoul'

'서울시 코로나19 확진자 현황.csv'    seoul.ipynb
'서울시 코로나19 확진자 현황.json'

In [13]:
%matplotlib inline

In [17]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [20]:
a = pd.read_csv('drive/MyDrive/seoul/서울시 코로나19 확진자 현황.csv',encoding='utf-8')
a

          연번        확진일  환자번호  ...               등록일               수정일 노출여부
0      20338  21.01.04.   NaN  ...  2021-01-05 10:49  2021-01-05 10:49    Y
1      20337  21.01.04.   NaN  ...  2021-01-05 10:49  2021-01-05 10:49    Y
2      20336  21.01.04.   NaN  ...  2021-01-05 10:49  2021-01-05 10:49    Y
3      20335  21.01.04.   NaN  ...  2021-01-05 10:49  2021-01-05 10:49    Y
4      20334  21.01.04.   NaN  ...  2021-01-05 10:49  2021-01-05 10:49    Y
...      ...        ...   ...  ...               ...               ...  ...
20333      5   20.1.31.   NaN  ...  2021-01-04 10:08  2021-01-04 11:31    Y
20334      4   20.1.30.   NaN  ...  2021-01-04 10:08  2021-01-04 11:31    Y
20335      3   20.1.30.   NaN  ...  2021-01-04 10:08  2021-01-04 11:31    Y
20336      2   20.1.30.   NaN  ...  2021-01-04 10:08  2021-01-04 11:31    Y
20337      1   20.1.24.   NaN  ...  2021-01-04 10:08  2021-01-04 11:31    Y

[20338 rows x 14 columns]